h1, h2, h3 {
  color: darkgreen;
}

p {
  font-style: italic;
}

body {
  background-color: #ddedf0;
}


/*#result {
  display: none;
}*/

.pizza-size, .toppings-list, .pizza-price {
  font-weight: normal;
  color: black;
  font-size: 22px;
}
